// Font Styles
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

Staatliches html {
  font-family: 'Inter', sans-serif;
}

.background {
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: auto;
}

.gradient-light {
  background-color: #CDDCDC;
  background-image: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
  background-blend-mode: screen, overlay;
  // animation: gradient-animation 6s ease infinite;
}

.gradient-dark {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
}

.gradient-food {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  // background-size: 180% 180%;
  // animation: gradient-animation 4s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}