// FLEX UTILITIES

.display-flex {
  display: flex;
  gap: 8px;
}

.flex-centered-vr {
  @extend .display-flex;
  align-items: center;
}

.flex-wrapped {
  @extend .flex-centered-vr;
  flex-wrap: wrap;
}

.flex-centered {
  @extend .flex-centered-vr;
  justify-content: center;
}

.flex-column {
  @extend .display-flex;
  flex-direction: column;
}

.flex-centered-column {
  @extend .flex-column;
  align-items: center;
  justify-content: center;
}

.flex-end {
  @extend .flex-centered-vr;
  justify-content: flex-end;
}

.flex-justified {
  @extend .flex-centered-vr;
  justify-content: space-between;
}

.flex-stretch {
  @extend .display-flex;
  align-items: stretch;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}


// TEXT UTILITIES

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// PADDING UTILITIES

.no-padding {
  padding: 0;
}

.pad-8-top {
  padding-top: 8px;
}

.pad-8-bottom {
  padding-bottom: 8px;
}

.pad-8-left {
  padding-left: 8px;
}

.pad-8-right {
  padding-right: 8px;
}

.pad-8-vr {
  @extend .pad-8-top;
  @extend .pad-8-bottom;
}

.pad-8-hr {
  @extend .pad-8-left;
  @extend .pad-8-right;
}

.pad-8 {
  @extend .pad-8-vr;
  @extend .pad-8-hr;
}

.pad-16-top {
  padding-top: 16px;
}

.pad-16-bottom {
  padding-bottom: 16px;
}

.pad-16-left {
  padding-left: 16px;
}

.pad-16-right {
  padding-right: 16px;
}

.pad-16-vr {
  @extend .pad-16-top;
  @extend .pad-16-bottom;
}

.pad-16-hr {
  @extend .pad-16-left;
  @extend .pad-16-right;
}

.pad-16 {
  @extend .pad-16-vr;
  @extend .pad-16-hr;
}

// MARGIN UTILITIES
.no-margin {
  margin: 0;
}

.margin-auto {
  margin: auto;
}

.mrg-8-top {
  margin-top: 8px;
}

.mrg-8-bottom {
  margin-bottom: 8px;
}

.mrg-8-left {
  margin-left: 8px;
}

.mrg-8-right {
  margin-right: 8px;
}

.mrg-8-vr {
  @extend .mrg-8-top;
  @extend .mrg-8-bottom;
}

.mrg-8-hr {
  @extend .mrg-8-left;
  @extend .mrg-8-right;
}

.mrg-8 {
  @extend .mrg-8-vr;
  @extend .mrg-8-hr;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.margin-left {
  margin-left: 16px;
}

.margin-right {
  margin-right: 16px;
}

.margin-vr {
  @extend .margin-top;
  @extend .margin-bottom;
}

.margin-hr {
  @extend .margin-left;
  @extend .margin-right;
}

.margin {
  @extend .margin-vr;
  @extend .margin-hr;
}


// Width & Height Utilities
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100dvh;
}

.cursor-pointer:hover,
.cursor-pointer:active {
  cursor: pointer;
}